@inherits LayoutComponentBase

<div class="container">

	<NavMenu />

	<main>
		@Body
	</main>
	
	<hr/>
	<footer>
		<div class="container">
		Made with <a href="https://github.com/BlazorStatic/BlazorStatic">BlazorStatic</a> and <a href="https://terminalcss.xyz/">Terminal CSS</a>.
		</div>
	</footer>
</div>