---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}

{% for post in collections.posts | reverse  %}

  <h2><a href="{{ post.url }}" class="postlist-link-title">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a></h1>
    <ul class="post-metadata">
	<li><time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>Tags: </li>
	{%- for tag in post.data.tags | filterTagList %}	
		{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
		<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
	{%- endfor %}
</ul>
  {{ post.templateContent | safe }}
   <hr class="post-separator"> 
{% endfor %}
