<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <base href="/" /> 
    <link rel="stylesheet" href="terminal-css-customized.css">
    <link rel="stylesheet" href="custom.css">
    
    <HeadOutlet />
</head>

<body class="terminal">
<Routes />
</body>

</html>
