@page "/imprint"
<div class="container">
	
	<h2>Impressum</h2>

	lennartb.dev - Lennart Brüggemann<br/>
	c/o Online-Impressum.de #32885<br />
	Europaring 90<br />
	53757 Sankt Augustin<br/><br/>

	lennartbdev@gmail.com<br /><br />

	Zuständige Regulierungs- und Aufsichtsbehörde:<br />
	Medienanstalt Berlin-Brandenburg<br />
	Sitz: Deutschland

</div>

@code {

}
