@page "/tags/{tagName}"
@page "/tags"
@using BlazorStatic
@using BlazorStatic.Services
@using System.Net
@inject BlazorStaticContentService<BlogFrontMatter> BlazorStaticContentService

@if (TagName == null)
{
	<div class="">
		@{
			var tagsWithCount = BlazorStaticContentService.Posts
			.SelectMany(x => x.FrontMatter.Tags)
			.GroupBy(x => x)
			.Select(group => new { Tag = group.Key, Count = group.Count() })
			.OrderByDescending(x => x.Count);

			foreach (var tag in tagsWithCount)
			{
				<a class="" href="@BlazorStaticContentService.Options.Tags.TagsPageUrl/@WebUtility.HtmlEncode(tag.Tag)">@tag.Tag (@tag.Count)</a>
			}
		}
	</div>
	return;
}

<div class="container">
	<h1>#@TagName</h1>
	<p>
		Blog posts tagged with
		<span>@TagName</span>
	</p>
</div>
<PostsList Posts="posts" />

@code {

	[Parameter] public string? TagName { get; set; }

	List<Post<BlogFrontMatter>>? posts;

	protected override void OnInitialized()
	{
		if (string.IsNullOrWhiteSpace(TagName)) return;
		posts = BlazorStaticContentService.Posts.Where(x => x.FrontMatter.Tags.Contains(TagName)).ToList();
	}
}